/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0F4C75;
  }
  
  header {
    background-color: #1B262C;
    color: white;
    text-align: left;
    padding: 20px;
  }

  #top5-title{
    color: white;
    text-align: left;
  }
  
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #3282B8;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: white;

  }
  
  /* Company List Styling */
  .company-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .company-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #BBE1FA;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  .company-card h2 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .company-card p {
    margin: 5px 0;
    font-size: 14px;
  }
  
/* Arrow Indicators */
.arrow-up {
    color: rgb(27, 187, 27);
    margin-left: 5px;
  }
  
  .arrow-down {
    color: rgb(255, 0, 0);
    margin-left: 5px;
  }
  
  /* View More Button */
  .view-more-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .view-more-btn:hover {
    background-color: #0056b3;
  }
  
  #top-companies {
    margin: 2rem 0;
    padding: 1rem;
    background: #3282B8;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

  }
  
  .top-company {
    background: #BBE1FA;
    margin: 1rem 0;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .prediction-surge {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }